.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.poi_info {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}

.poi_title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px 16px;
}

.poi_desc {
  font-size: 0.9em;
  font-weight: 200;
  padding: 8px 16px;
}

.poi_image {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  width: 100%;
  height: 35vh;
  object-fit: cover;
  object-position: 0 20%;
}

@media (max-width: 959px) {
  .poi_image {
    height: 17.5vh;
  }
}