.root-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  background-color: white;
}

.gridList {
  flex-wrap: nowrap !important;
  transform: translateZ(0);
}

@media (max-width: 959px) {
  .my-col {
    width: 60% !important;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .my-col {
    width: 40% !important;
  }
}

@media (min-width: 1280px) {
  .my-col {
    width: 25% !important;
  }
}

.title {
  color: whitesmoke;
}

.titleBar {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(133, 0, 186);
}

.my-col:hover .overlay {
  opacity: 0.2;
}

.text {
  color: black;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}