.root {
  flex-grow: 1;
  background-color: whitesmoke;
}

.icon {
  color: 'rgba(255, 255, 255, 0.54)';
}

paper {
  padding: 12px;
  text-align: 'center';
  color: white;
}

.paper {
  margin: 0;
}

#map {
  margin: 0 4px;
}

.pois-container {
  /* height: calc(100vh - 64px); */
  height: auto;
}

.pois-mini {

}

.poi-mini {
  width: 100%;
  height: 200px;
  border: 1px black solid;
}