.c_image {
  height: 255px;
  display: block;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  height: 40vh;
  /* object-position: 0 20%; */
  background: #fafafa !important;
}

.to_right {
  float: right;
}

.hidden_div {
  display: none;
}

#poi_map {
  height: 40vh !important;
}

#poi_map>* {
  height: 100%;
}