@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #706381;
  /* #1f2427; */
  color: #fff;
}

.navbar {
  background: #2c3848;
  padding: 12px;
  color: #45b7b8;
  display: flex;
  justify-content: space-between;
}

.nav-link:not(:first-child) {
  padding-left: 8px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #f7de1c;
}